
  .select-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .select-wrapper {
      background-color: #fff;
      padding: 10px 30px;
      border-radius: 20px;
      width: 80%;
      height: 800px;
      color: black;
  }